body{
    background-image: url("picture.png");
    /* background-color: bisque; */
    background-repeat: no-repeat;
    background-position: right 100px;
}

h1{
    background-color: pink;
    /* text-shadow: 5px 5px gainsboro; */
    /* letter-spacing: 10px; */
    word-spacing: 10px;
}

p{
    background-color: #9900ff;
    color:white;
}

section{
    max-width: 200px;
    height: 200px;
    background-color: rgb(87, 216, 248);
    line-height: 200px;
    text-align: center;
}

.myBorder{
    /* border-style: solid;
    border-width: 5px 5px;
    border-color: gainsboro; */
    border: 5px solid Tomato;
    /* border-radius: 200px; */
    
}
.decoration{
    text-decoration:overline;
}

a{
    text-decoration: none;
}

li{
    list-style-type:none;
}